.profile__edit-button {
    border: 1px solid #FFFFFF;
    background-color: black;
    color: #FFFFFF;
    width: 24px;
    height: 24px;
    margin-bottom: 7px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}