.footer__logo {
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}


@media all and (max-width: 530px) {
    .footer__logo {
        font-size: 14px;
        line-height: 17px;
    }
}
