.profile__box {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: flex-end;
    margin-top: 24px;
    margin-left: 2px;
}

@media all and (max-width: 560px) {
    .profile__box {
        margin-top: 22.25px;
        gap: 10px
    }
}