.elements {
    max-width: 880px;
    display: grid;
    margin: 50px 200px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 17px;
}

@media all and (max-width: 1270px) {
    .elements {
        margin: 50px 15.625vw 0;
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
    }
}

@media all and (max-width: 850px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 530px) {
    .elements {
        margin-top: 36px;
    }
}