.popup__container-pic {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
}

/* перенос ИЗ popup_type_pic */