.popup__exit-button {
    background-image: url(../../../images/exit-icon.svg);
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: absolute;
    /* left: 430px; */
    right: -40px;
    top: -40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.popup__exit-button:hover {
    opacity: 0.6;
}

@media all and (max-width: 530px) {
    .popup__exit-button {
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px;
    }
}

