.popup__wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-left: 36px;
    max-width: 358px;
    padding: 0;
    text-decoration: none;
}

@media all and (max-width: 530px) {
    .popup__wrapper {
        max-width: 238px;
        margin-left: 22px;
    }   
}